body{
    color: #fff;
}
.right-0{
    right: 0;
}
.left-0{
    left: 0;
}
.sidebar{
    width: 200px;
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 4px;
    background-color: #fff
}

.header{
    position: sticky;
    top: 0;
    z-index: 99;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: #131313;
}

.content{
    height: calc(100vh - 60px);
    overflow-y: auto;
    position: relative;
}

.slider-vertical{
    background-color:darkgray;
}

.slider-vertical__slide{
    height: calc(100vh - 145px) !important;
    position: relative;
}

.slider-block{
    min-width: 100%;
    max-width: 100vh !important;
}

.slider-block__btn{
    position: absolute;
    top: calc(100% - 60%);
    margin: 0 10px;
    z-index: 999 !important;
}

.slider-block__slide{
    height: calc(100vh - 145px) !important;
    position: relative;
    outline: 0 !important;
    padding: 4px;
    z-index: -9 !important;
}

.slider-block__content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-vertical-control{
    height: 85px;
    padding: 4px;
    background-color: #131313;
}

.slick-dots{
    position: absolute;
    bottom: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 6px;
    padding-left: 0;
    width: 100%;
}

.slick-dots li button{
    border: 0;
    margin: 0 5px;
    outline: none;
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
    padding: .300rem .70rem;
    border-radius: .25rem;
} 

.slick-dots li.slick-active button{
    background-color: red
}


.block{
    width: 100%;
    height: 20px;
    background-color:#7d7d7d;
    border-radius: 2px;
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px){
    .sidebar{
        position: fixed;
        z-index: 999;
        left: -100%;
        transition: 0.3s;
    }
}


@media screen and (max-width: 500px){
    .sidebar{
        left: 0 !important;
        width: 100%;
        height: 100%;
        top: auto;
        bottom: calc(-100% + 38px);
    }

    .content{
        position: sticky;
        height: calc(100% - 38px);
    }

    .slider-vertical__slide{
        height: 38rem !important;
    }

    .slider-block__slide {
        height: 38rem !important;
    }
}